<header>
    <h1>Dawid Nawrocki</h1>
</header>

<nav>
    <ul>
      <li><a href="{{ '/index.html' | relative_url }}"><i class="fa-regular fa-user"></i> Home</a></li>
      <li><a href="{{ '/projects.html' | relative_url }}"><i class="fa-regular fa-folder-open"></i> Projects</a></li>
      <!--<li><a href="maps.html"><i class="fa-regular fa-map"></i> Maps</a></li>-->
      <li><a href="{{ '/electoral-reform.html' | relative_url }}"><i class="fa-regular fa-square-check"></i> UK Electoral Reform</a></li>
      <li><a href="{{ '/contact.html' | relative_url }}"><i class="fa-regular fa-envelope-open"></i> Contact</a></li>
    </ul>
</nav>